.color-dot {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 30%;
  vertical-align: middle;
}

.list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-heading h1 {
    margin: 16px 0;
}